<div  class="nav">  
  <div><img class="rotate-earth"></div>
  <div class="naslov"><h4>Škola stranih jezika "TALK"</h4></div>
  <div><a routerLink="svi-kursevi" class="btn-blue" role="button">Svi kursevi</a> </div>
  <div><a  routerLink="dodaj-kurs" class="btn-blue" role="button" >Dodaj kurs</a></div>
  <div><a  routerLink="dodaj-predavaca" class="btn-blue" role="button" >Dodaj predavaca</a></div> 
  <div><a  routerLink="dodaj-kategoriju" class="btn-blue" role="button" >Dodaj kategoriju</a></div> 
  <div><img class="logo-image"/></div><br>
</div>               
<div class="background"></div>
<router-outlet></router-outlet>