<div class="body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" style="text-align: left;">
                <h2><b>Naziv kursa</b></h2>
                <h3>Jezik: Jezik kursa</h3>            
                <h4>Predavac: ime prezime</h4>
                <h4>Max broj polaznika:</h4>
                <p>Opis kursva</p>
                <p>Ocekivani ishod</p>
            </div>
            <div class="col-md-4">
                <h3>Ivana</h3>
            </div>
        </div>
    </div>
</div>