<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
           <!-- <img class="rounded float-start" [src]="book.slika"/>-->
        </div>
        <div class="col-md-6" style="padding-left:80px">
            <h3><b>Naziv kursa</b></h3><br>
            <h4>Predavac: Ime Prezime</h4>
            <h4>Jezik: Jezik</h4>
            <h4>Broj polaznika: </h4>
            <h4>Cena: din</h4><br><br>
            <div><a  routerLink="" class="btn btn-red btn-lg" role="button" >Detaljnije---></a></div>
        </div>
    </div>
</div><br><br>
