<div class="body">
<div class="container-fluid">
    <div class="row">
        <div class="col">
            <img class="rotate-earth img_size">
        </div>
        <div class="col" style="margin-right: 20px; text-align: left;">
            <h3><b>Naziv: {{course.naziv}}</b></h3><br>
            <h4>Predavac: ime prezime </h4>
            <h4>Jezik: jezik</h4>
            <button  class="btn btn-blue btn-lg"><a  routerLink="/prikaz-kursa/naziv" >Detaljnije---></a></button>
        </div>
    </div>
</div></div><br><br>
