h3{
	color: var(--text-color);
	text-align: center; 
	text-decoration: solid; 
	font-size: 30px;
}

h4 {
	color:var(--text-color);
	text-align: left; 
	text-decoration: solid; 
	font-size: 20px; 
	font-weight: bold;
}

.body p {
	font-weight: 400;
	font-size: 1.15rem;
	width: 400px;
	margin-top: 50px;
}

.select-red {
	justify-content: left;
    background-color: #309708;
	border-radius: 15px;
	width: 200px;
	padding: 10px;
	color: whitesmoke;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	margin-right: 10px
  }