<div class="bg">
  <form class="form-inline my-2 my-lg-0">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Pretrazi kurs"
      aria-label="Search"
    />
    <button class="btn btn-success my-2 my-sm-0" type="submit">
      Pretrazi kurs
    </button>
  </form>
  <br /><br />
  <div *ngIf="trazeniKurs != undefined">
    <app-kurs-item [course]="trazeniKurs"></app-kurs-item>
  </div>
  <hr />
  <hr />
  <div *ngIf="kursevi != undefined">
    <app-kurs-item [course]="kurs" *ngFor="let kurs of kursevi"></app-kurs-item>
  </div>
</div>
