h3{
	color: var(--text-color);
	text-align: center; 
	text-decoration: solid; 
	font-size: 30px;
}

h4 {
	color:var(--text-color);
	text-align: left; 
	text-decoration: solid; 
	font-size: 20px; 
	font-weight: bold;
}

.body p {
	font-weight: 400;
	font-size: 1.15rem;
	width: 400px;
	margin-top: 50px;
}

.select-red {
	background-color: #c9a91a;
	border-radius: 15px;
	padding: 8px;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
